{% extends 'bootstrap/base.html' %}
{# 为了和form匹配使用，需要导入 #}
{% import 'bootstrap/wtf.html'  as wtf %}
{% block styles %}
    {{ super() }}
{% endblock %}

{# 自动加载form所有东西 #}
{# horizontal_columns 水平方向 lable 2 框 5 #}
{% block content %}
    <form action="{{ url_for('hello_world') }}" method="post" enctype="multipart/form-data">
        {# CSRF token #}
        {{ uform.hidden_tag() }}
        {{ wtf.form_errors(uform, hiddens="only") }}
        {{ wtf.form_field(uform.name,form_type="basic", horizontal_columns=('lg', 2, 10)) }}
        {{ wtf.form_field(uform.password) }}
        {{ wtf.form_field(uform.confirm_pwd) }}
        {{ wtf.form_field(uform.phone) }}
        {{ wtf.form_field(uform.icon) }}
        {{ wtf.form_field(uform.recaptcha) }}
        <p> <img src="{{ url_for('get_image') }}" id="img"></p>
        <p><input type="submit" value="提交"></p>
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        // 单击图片重新加载图片 ran= 向服务器表示两次请求不同 否则服务器会返回与之前相同的结果
        $('#img').click(function () {
            $(this).attr('src', "{{ url_for('get_image') }}?ran=" + Math.random());
        })
    </script>
{% endblock %}